*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #10101E;
}
.datetime{
    color: #fff;
    background-color: #10101E;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 10px;
    border: 3px solid lightskyblue;
    border-radius: 5px;
}
.date{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin: 0 1px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    background-color: #2e94e3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0px 5px;
    border-radius: 3px;
}